---
- name: Copy files to app servers using conditionals
  hosts: all
  become: yes
  tasks:
    - name: Copy blog.txt to App Server 1
      copy:
        src: /usr/src/devops/blog.txt
        dest: /opt/devops/blog.txt
        owner: tony
        group: tony
        mode: '0655'
      when: ansible_nodename == "stapp01" or ansible_nodename == "stapp01.stratos.xfusioncorp.com"

    - name: Copy story.txt to App Server 2
      copy:
        src: /usr/src/devops/story.txt
        dest: /opt/devops/story.txt
        owner: steve
        group: steve
        mode: '0655'
      when: ansible_nodename == "stapp02" or ansible_nodename == "stapp02.stratos.xfusioncorp.com"

    - name: Copy media.txt to App Server 3
      copy:
        src: /usr/src/devops/media.txt
        dest: /opt/devops/media.txt
        owner: banner
        group: banner
        mode: '0655'
      when: ansible_nodename == "stapp03" or ansible_nodename == "stapp03.stratos.xfusioncorp.com"
